<form>

	<label>Vezeték név</label>
	<input type="text" name="vezeteknev">

	<label>Kereszt név</label>
	<input type="text" name="keresztnev">

	<label>Telefon</label>label>
	<input type="text" name="telefon">

	<label>Email</label>
	<input type="text" name="email">

	<label>Indulás</label>
	<input type="select" name="indulas">

	<label>Érkezés</label>
	<input type="select" name="erkezes">

	<label>Üzenet</label>
	<input type="textarea" name="message">

	<button type="submit">Küldés</button>
	
</form>
